{{extend 'layout.html'}}
<div class="row">
	<div class="col-lg-12 contentbox-12">  
            <h3>            {{=T('Contact')}}</h3>
             <div class="row">
                <p>
              {{if session.forced_language=='de':}}
                   <div class="col-lg-3">
                     <strong>Südasien</strong><br>
                         Nicole Merkel-Hilf, M.A.<br>
                         CATS Bibliothek / Abt. Südasien<br>
                         Voßstrasse 2, Gebäude 4110<br>
                         D-69115 Heidelberg<br>
                         Tel.: +49-6221-54 15047<br>
                         Mail: <a href="mailto:merkel@ub.uni-heidelberg.de">E-Mail</a><br><br>

                         <strong>Ost-, Südost- und Zentralasien</strong><br>
                         Staatsbibliothek zu Berlin - PK<br>
                         Ostasienabteilung<br>
                         Tel.: +49 (30)266-436001<br>
                         Mail: <a href="mailto:x-asia@sbb.spk-berlin.de">E-Mail</a><br>
                         
                     </div>
                     <div class="col-lg-3">
                      <br>Dr. Maria Effinger<br>
                         Universitätsbibliothek Heidelberg<br>
                         Plöck 107-109<br>
                         69117 Heidelberg<br>
                         Tel.: +49 6221 54-3561<br>
                         Mail: <a href="mailto:effinger@ub.uni-heidelberg.de">E-Mail</a><br><br><br>
                      
                      </div>					  
              {{elif session.forced_language=='en':}}
                   <div class="col-lg-3">
                     <strong>South Asia</strong><br>
                         Nicole Merkel-Hilf, M.A.<br>
                         Library / South Asia Institute<br>
                         Im Neuenheimer Feld 330<br>
                         69120 Heidelberg<br>
                         Germany<br>
                         Tel.: +49 6221 54-8927<br>
                         Mail: <a href="mailto:merkel@sai.uni-heidelberg.de">E-Mail</a><br><br>

                         <strong>East, South and Central Asia</strong><br>
                         Staatsbibliothek zu Berlin - PK<br>
                         East Asia Department<br>
                         Tel.: +49 (30)266-436001<br>
                         Mail: <a href="mailto:x-asia@sbb.spk-berlin.de">E-Mail</a><br>

                         
                   </div>
                   <div class="col-lg-3">
                     <br>Dr. Maria Effinger<br>
                         Heidelberg University Library<br>
                         Plöck 107-109<br>
                         69117 Heidelberg<br>
                         Germany<br>
                         Tel.: +49 6221 54-3561<br>
                         Mail: <a href="mailto:effinger@sai.uni-heidelberg.de">E-Mail</a><br><br><br>
                     
                   </div>
                {{pass}}
				  
                  </p>
			 </div>
			 <div class="row">
						<h4>{{=T('Order and Sales')}}</h4>
						<p><strong>Myriam Rausch</strong><br>
						  Tel.: +49 6221 54 2383<br>
						  Fax: +49 6221 54 2623<br>
						  Email: <a href="mailto:heiup-orders@ub.uni-heidelberg.de">heiup-orders@ub.uni-heidelberg.de</a>
						</p>               
			 </div>
    </div>
</div>
