{{extend 'layout.html'}}

<div id="main" class="container">
    <div class="row">
        <div class="col-lg-12 contentbox">
            <h3>  {{if session.forced_language =='de': }}
                Geographien Südasiens  
                {{elif session.forced_language =='en': }}
                Geographien Südasiens
            {{pass}}
            </h3>


                {{if session.forced_language =='de': }}
<div id="infoBoxRechts" class="col-lg-3"><p>{{=IMG(_src=URL('static','images/series/gsa_logo.png'),_width='230px')}}</p>
                </div>

<p>Der Arbeitskreis Südasien hat die Schriftenreihe „Geographien Südasiens“ gegründet, um Einblicke in aktuelle geographische Forschung zu Südasien zu ermöglichen. In der Schriftenreihe werden die Vorträge auf den Jahrestagungen des Arbeitskreises in Form von Extended Abstracts in jeweils einem Sammelband zusammengefasst. Zusätzlich besteht darüber hinaus die Möglichkeit, neuere Beiträge zur Südasienforschung in zusätzlichen Bänden ausführlicher zu behandeln. Der Tagungsband wird von den Sprechern des AK herausgegeben. Interessenten für Publikationen wenden sich bitte an: <span style="white-space: nowrap;">julia.poerting@asia-europe.uni-heidelberg.de</span>.</p>
<div class="widget">
                        <ul class="tags">

                            <li>

                               <p><a href="{{=URL('catalog', 'series/gsa')}}">{{=T('Volumes')}}</a></p>

                            </li>



                        </ul>
                    </div>

                     {{elif session.forced_language =='en': }}
<div id="infoBoxRechts" class="col-lg-3"><p>{{=IMG(_src=URL('static','images/series/gsa_logo.png'),_width='230px')}}</p>
                </div>
<p>Der Arbeitskreis Südasien hat die Schriftenreihe „Geographien Südasiens“ gegründet, um Einblicke in aktuelle geographische Forschung zu Südasien zu ermöglichen. In der Schriftenreihe werden die Vorträge auf den Jahrestagungen des Arbeitskreises in Form von Extended Abstracts in jeweils einem Sammelband zusammengefasst. Zusätzlich besteht darüber hinaus die Möglichkeit, neuere Beiträge zur Südasienforschung in zusätzlichen Bänden ausführlicher zu behandeln. Der Tagungsband wird von den Sprechern des AK herausgegeben. Interessenten für Publikationen wenden sich bitte an: <span style="white-space: nowrap;">julia.poerting@asia-europe.uni-heidelberg.de</span>.</p>

<div class="widget">
                        <ul class="tags">

                            <li>
                               <p><a href="{{=URL('catalog', 'series/gsa')}}">{{=T('Volumes')}}</a></p>
                            </li>

                        </ul>
                    </div>

{{pass}}

        </div>
    </div>
</div>

