{{extend 'layout.html'}}

<div class="row">
    <div class="col-lg-12 contentbox-12">
	    <div class="row">
			<div class="col-lg-12">
				<h3>
					{{if session.forced_language =='de': }}  
                Histoire, Archéologie et Société Conférences Académiques Franco-Chinoises   
					{{elif session.forced_language =='en': }}
				Histoire, Archéologie et Société Conférences Académiques Franco-Chinoises
					{{pass}}
				</h3>
			</div>
		</div>

		<div class="row">	
			{{if session.forced_language =='de': }}
			<div class="col-lg-9">	
				  <p>Since 1997, a program of lectures of the Beijing Centre of the Ecole française d’Extrême-Orient (EFEO) entitled Histoire, archéologie, société – conférences académiques franco-chinoises has offered an occasion for various Chinese and European (especially French) scholars to present their research results to the Beijing academic audience in a wide range of disciplines, such as archaeology, social and cultural history, anthropology and culture heritage studies. Delivered in different academic institutions (such as Peking University, Tsinghua University, Renmin University, various institutes of the Chinese Academy of Social Sciences, and the Institute for the History of Natural Science of the Chinese Academy of Sciences, etc.), the talks have then been published in bilingual booklets, resulting in a series of 14 volumes to the present day.</p>
                  <p>In the framework of the new European Research Centre for Chinese Studies (ERCCS) constituted by the collaboration of the EFEO Beijing Centre and the Beijing Branch Office of the Max Weber Foundation, the above-mentioned series has now been renamed History, Archaeology, Society – Euro-Chinese Academic Lectures. By publishing in a bilingual form various academic lectures given before a Chinese audience on a wide range of topics, this series intends to reflect the vitality of international scholarly discussion in China today, as well as the most recent accomplishments of research in the humanities and social sciences.</p>               
				  <div class="widget">
							<ul class="tags">

								<li>

								   <p><a href="{{=URL('catalog', 'series/has')}}">{{=T('Volumes')}}</a></p>

								</li>

							</ul>
				  </div>
			</div>	

			<div class="col-lg-3">
					<div id="infoBoxRechts">
						{{=IMG(_src=URL('static','images/series/efeo.jpg'),_width='230px')}}
						<p><b>ISSN</b><br>
                ISSN (online): 2702-5063</p>
					</div>
			</div>		
			{{elif session.forced_language =='en': }}
			<div class="col-lg-9">	
				 <p>Since 1997, a program of lectures of the Beijing Centre of the Ecole française d’Extrême-Orient (EFEO) entitled Histoire, archéologie, société – conférences académiques franco-chinoises has offered an occasion for various Chinese and European (especially French) scholars to present their research results to the Beijing academic audience in a wide range of disciplines, such as archaeology, social and cultural history, anthropology and culture heritage studies. Delivered in different academic institutions (such as Peking University, Tsinghua University, Renmin University, various institutes of the Chinese Academy of Social Sciences, and the Institute for the History of Natural Science of the Chinese Academy of Sciences, etc.), the talks have then been published in bilingual booklets, resulting in a series of 14 volumes to the present day.</p>
                  <p>In the framework of the new European Research Centre for Chinese Studies (ERCCS) constituted by the collaboration of the EFEO Beijing Centre and the Beijing Branch Office of the Max Weber Foundation, the above-mentioned series has now been renamed History, Archaeology, Society – Euro-Chinese Academic Lectures. By publishing in a bilingual form various academic lectures given before a Chinese audience on a wide range of topics, this series intends to reflect the vitality of international scholarly discussion in China today, as well as the most recent accomplishments of research in the humanities and social sciences.</p> 
				  <div class="widget">
							<ul class="tags">

								<li>

								   <p><a href="{{=URL('catalog', 'series/has')}}">{{=T('Volumes')}}</a></p>

								</li>

							</ul>
				  </div>
			</div>	

			<div class="col-lg-3">
				  <p>{{=IMG(_src=URL('static','images/series/efeo.jpg'),_width='230px')}}</p>
			</div>	
			{{pass}}
       </div>
    </div>
</div>

