{{extend 'layout.html'}}

<div class="row">
    <div class="col-lg-12 contentbox-12">
	    <div class="row">
			<div class="col-lg-12">
				<h3>  {{if session.forced_language =='de': }}
					Media and Cultural Studies  
					{{elif session.forced_language =='en': }}
					Media and Cultural Studies
				{{pass}}
				</h3>
			</div>	
		</div>
		
		<div class="row">
			{{if session.forced_language =='de': }}
			<div class="col-lg-9">
				<p>Die Reihe "Media and Cultural Studies" veröffentlicht Ergebnisse aktueller regionalwissenschaftlicher Forschungen, die sich mit medien- und kulturwissenschaftlichen Fragen befassen. Einen weiteren Schwerpunkt bilden Forschungen an der Schnittstelle von Medienkultur- und Geschlechterforschung. Die Reihe dient insbesondere transregional angelegten und Südasien bezogenen Qualifikationsarbeiten und Sammelbänden als Publikationsplattform. Sie bietet darüber hinaus auch die Möglichkeit, multimediale Inhalte zu publizieren</p>
				<!--
				<div class="widget">
							<ul class="tags">

								<li>

								   <p><a href="{{=URL('catalog', 'series/macs')}}">{{=T('Volumes')}}</a></p>

								</li>

							</ul>
				</div>
-->				
			</div> 		
			
			<div class="col-lg-3">
				<p>
				<b>Kontakt>b>
				Prof. Dr. Nadja-Christina Schneider<br>
				Humboldt-Universität zu Berlin<br>
				Institut für Asien- und Afrikawissenschaften<br>
				Invalidenstraße 118<br>
				D-10099 Berlin<br>
				E-Mail: <a href="mailto:nadja-christina.schneider@hu-berlin.de">nadja-christina.schneider@hu-berlin.de<br>
				Internet: <a href="https://www.iaaw.hu-berlin.de/de/querschnitt/medialitaet/querschnitt/personen/schneider" title="Link zur Homepage">Homepage</a>
				<!--{{=IMG(_src=URL('static','images/series/gsa_logo.png'),_width='230px')}}--></p>
			</div>
			{{elif session.forced_language =='en': }}
			<div class="col-lg-9">
				<p>The "Media and Cultural Studies" series publishes original research results in the area studies that deal with questions of media and cultural studies. An additional focus is laid on innovative research at the interface of media culture and gender studies. In particular, the series serves as a publication platform for transregional and South Asia-related projects, for instance, PhD dissertations or edited volumes. Furthermore, it offers possibilities for multimedia publications.</p>
				<!--
				<div class="widget">
							<ul class="tags">

								<li>
								   <p><a href="{{=URL('catalog', 'series/macs')}}">{{=T('Volumes')}}</a></p>
								</li>

							</ul>
				</div>
				-->
			</div> 		
			
			<div class="col-lg-3">
				<p>
				<b>Conbtact</b>
				Prof. Dr. Nadja-Christina Schneider<br>
				Humboldt-Universität zu Berlin<br>
				Institute for Asian and African Studies<br>
				Invalidenstraße 118<br>
				D-10099 Berlin<br>
				E-Mail: <a href="mailto:nadja-christina.schneider@hu-berlin.de">nadja-christina.schneider@hu-berlin.de<br>
				Internet: <a href="https://www.iaaw.hu-berlin.de/de/querschnitt/medialitaet/querschnitt/personen/schneider" title="Link zur Homepage">Homepage</a>

				<!--{{=IMG(_src=URL('static','images/series/gsa_logo.png'),_width='230px')}}--></p>
			</div>
			{{pass}}

		</div>
    </div>
</div>

