
<!-- is (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="{{=T.accepted_language or 'en'}}"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <!-- www.phpied.com/conditional-comments-block-downloads/ -->
    <!-- Always force latest IE rendering engine
         (even in intranet) & Chrome Frame
         Remove this if you use the .htaccess -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge{{=not request.is_local and ',chrome=1' or ''}}">
    <!--  Mobile Viewport Fix
          j.mp/mobileviewport & davidbcalhoun.com/2010/viewport-metatag
          device-width: Occupy full width of the screen in its current orientation
          initial-scale = 1.0 retains dimensions instead of zooming out if page height > device height
          user-scalable = yes allows the user to zoom in -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{=response.title or request.application}}</title>
    <!-- http://dev.w3.org/html5/markup/meta.name.html -->
    <meta name="application-name" content="{{=request.application}}">
    <!-- Speaking of Google, don't forget to set your site up:
         http://google.com/webmasters -->
  <meta name="google-site-verification" content="Fe1egWKUFNNSp3IYTaGTmvQ_nZKTZK6L5q7QetXMfa4" />
    <!-- include stylesheets -->

    <!---link rel="stylesheet" href="{{=URL('static','css/bootstrap-theme.min.css')}}"/>
    <link rel="stylesheet" href="{{=URL('static','css/web2py-bootstrap3.css')}}"/-->

      <!-- new -->
      <link rel="stylesheet" href="{{=URL('static','css/bootstrap.min.css')}}"/>
      <link rel="stylesheet" href="{{=URL('static','css/fancybox/jquery.fancybox.css')}}"/>
      <link rel="stylesheet" href="{{=URL('static','css/flexslider.css')}}"/>
      <link rel="stylesheet" href="{{=URL('static','css/style.css')}}"/>
      <link rel="stylesheet" href="{{=URL('static','css/default.css')}}"/>
      <link rel="stylesheet" href="{{=URL('static','css/font-awesome.css' )}}"/>
      <link rel="stylesheet" href="{{=URL('static','css/font-awesome.min.css' )}}"/>


   
  <!-- end -->

    <link rel="shortcut icon" href="{{=URL('static','images/favicon.ico')}}" type="image/x-icon">
    <link rel="apple-touch-icon" href="{{=URL('static','images/favicon.png')}}">


    <!-- All JavaScript at the bottom, except for Modernizr which enables
         HTML5 elements & feature detects -->
    <script src="{{=URL('static','js/modernizr-2.8.3.min.js')}}"></script>
    <!--[if lt IE 9]>
        <script src="{{=URL('static','js/respond-1.4.2.min.js')}}"></script>
        <![endif]-->
    <!-- Favicons add  -->
    {{include 'web2py_ajax.html'}} <!-- this includes jquery.js, calendar.js/.css and web2py.js -->
    {{block head}}{{end}}
    {{
    # using sidebars need to know what sidebar you want to use
    mc0 = 'col-md-12'
    mc1 = 'col-md-9'
    mc2 = 'col-md-6'
    left_sidebar_enabled = globals().get('left_sidebar_enabled', False)
    right_sidebar_enabled = globals().get('right_sidebar_enabled', False)
    middle_column = {0: mc0, 1: mc1, 2: mc2}[
    (left_sidebar_enabled and 1 or 0)+(right_sidebar_enabled and 1 or 0)]
    }}

  <script>
  $(document).ready(function(){
         var menuHoehe = $("#MainMenu").height();
         $("li.menu-icon").click(function(){
            var hidden = $("#topNavElements").is(":hidden");
            $("#topNavElements").toggle(1);
            if(hidden == false)
               {$("li.menu-icon").css( "opacity", "1" );
                $("#xasia_navi").parent().addClass("fixed");
                $("#header").css({ "height": "200px", "z-index": "0" });
                $("#MainMenu").removeAttr("style");
               }
            else
               {$("li.menu-icon").css( "opacity", "0.5" );
                $("#header").css({ "height": "75px", "z-index": "0" });
                $("#xasia_navi").parent().removeClass();
               }
         });
         $("ul.left > li.has-dropdown").click(function(){
            if(($(window).width()) <= "940"){
              var menuBreite = $("#MainMenu").width();
              $("ul.dropdown").show();
              $("li.has-dropdown").animate({left:-menuBreite}, "300");
              $(this).siblings().hide();
              $(".right").hide();
              var unterMenuHoehe = $(this).find('ul.dropdown').height();
              $("#MainMenu").height((unterMenuHoehe)+menuHoehe);
              $(this).find('ul.dropdown').animate({left:menuBreite}, "300");
            }
         });
         $("ul.right > li.has-dropdown").click(function(){
            if(($(window).width()) <= "940"){
              var menuBreite = $("#MainMenu").width();
              $("ul.dropdown").show();
              $("li.has-dropdown").animate({left:-menuBreite}, "300");
              $(".left").hide();
              $(this).siblings().hide();
              var unterMenuHoehe = $(this).find('ul.dropdown').height();
              $("#MainMenu").height((unterMenuHoehe)+menuHoehe);
            $(this).find('ul.dropdown').animate({left:menuBreite}, "300");
            }
         });

         $("li.back").click(function(){
            var menuBreite = $("#MainMenu").width();
            $("li.has-dropdown").animate({left:"0"}, "300");
            $(this).parents('.dropdown').animate({left:menuBreite*2}, "300");
            $("ul.dropdown").hide();
            $("#MainMenu").height('auto');
            $(".left").show();
            $(".right").show();
            $("li.has-dropdown").show();
            $("li.divider").show();
            return false;
         });
  });
  </script>


  </head>
  <body>
    <!--[if lt IE 8]><p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p><![endif]-->
    <div class="flash alert alert-dismissable">{{=response.flash or ''}}</div>
    <!-- Navbar ======================================= -->
    <!-- start header -->

    <div class="container">
      <div class="fixed">
<!--------------------------------------XASIA deutsche Navigation--------------------------------------------------------------------------------------------------->
     {{if session.forced_language=='de':}}
     <div id="xasia_navi" class="container">
      <div class="row">
          <div class="col-lg-12 col-sm-12 col-xs-12">
           <nav class="top-bar" id="MainMenu">
                        <ul class="title-area">
                          <li class="name">
                                <h1>
                                        <a title="zur Startseite" href="http://crossasia.org/"><span class="xAsiaIcon"></span></a>
                                </h1>
                          </li>
                          <li class="divider"></li>
                          <li class="toggle-topbar menu-icon">
                              <a href="#">
                                 <span>Menu</span>
                              </a>
                          </li>
                        </ul>
                        <section class="top-bar-section" id="topNavElements">
                        <ul class="left">
                          <li class="has-dropdown"><a href="#" onClick="return false;"> <div class="icon-file-text hide-for-small"></div>Ressourcen </a>
                            <ul class="dropdown">
                              <li class="back"><h5><a href="#">« Zurück</a></h5></li>
                              <li><a href="http://crossasia.org/ressourcen/search.html"  >CrossAsia Suche</a></li>
                              <li><a href="http://crossasia.org/ressourcen/databasesearch.html"  >Datenbanken</a></li>
                              <li><a href="http://crossasia.org/ressourcen/sammlungen.html"  >Digitale Sammlungen</a></li>
                              <li><a href="http://crossasia.org/ressourcen/tp.html"  >Themen Portale</a></li>
                              <li><a href="http://crossasia.org/ressourcen/ogea/ogeasearch.html"  >Online Guide East Asia</a></li>
                              <li><a href="http://crossasia.org/ressourcen/archive.html"  >eGovernment Archive</a></li>

                            </ul>
                          </li>
                          <li class="divider"></li>
                          <li class="has-dropdown"><a href="#" onClick="return false;"> <div class="icon-cogs hide-for-small"></div>Service </a>
                            <ul class="dropdown">
                              <li class="back"><h5><a href="#">« Zurück</a></h5></li>
                              <li><a href="http://crossasia.org/meinxasia/xasiaforum.html"  >CrossAsia Forum</a></li>
                              <li><a href="http://blog.crossasia.org/"  >CrossAsia Blog</a></li>
                              <li><a href="http://crossasia.org/service/epublish.html"  >CrossAsia E-Publishing</a></li>
                              <li><a href="http://crossasia.org/service/dod.html"  >CrossAsia DoD</a></li>
                              <li><a href="http://crossasia.org/service/blv.html"  >Kataloge & Blauer Leihverkehr</a></li>
                              <li><a href="http://crossasia.org/service/lab.html"  >CrossAsia Lab</a></li>
                              <li><a href="http://crossasia.org/service/xasia.html"  >Über CrossAsia</a></li>
                            </ul>
                          </li>
                          <li class="divider"></li>
                          <li class="has-dropdown"><a href="#" onClick="return false;"> <div class="icon-user hide-for-small"></div>Mein CrossAsia </a>
                            <ul class="dropdown">
                              <li class="back"><h5><a href="#">« Zurück</a></h5></li>
                              <li><a href="http://crossasia.org/meinxasia/xasiaforum.html"  >CrossAsia Forum</a></li>
                              <li><a href="http://crossasia.org/meinxasia/registrierung.html"  >CrossAsia Registrierung</a></li>
                            </ul>
                          </li>
                          <li class="divider"></li>
                        </ul>

                        <ul id="rightTopNav" class="right">
                               <li class="has-dropdown">
    				<form id="pazpar2" action="http://crossasia.org/ressourcen/search.html?tx_pazpar2_pazpar2%5Bcontroller%5D=Pazpar2" method="get">
    					<div id="topSearch">
    							 	<input id="pz2InputTop" name="tx_pazpar2_pazpar2[queryString]" placeholder="Suche" class="infocus" size="10" type="text" />
    							 	<button id="pz2ButtonTop" class="button small" value="Go"><span class="sprite search-w">&nbsp;</span></button>
    					</div>
    				</form>   
    		         	</li>			
    			       <li class="divider"></li>
                               <li class="has-dropdown">
                                        <a href="#" id="loginLink"><div class="icon-unlock">&nbsp;</div>Login</a>
                                                <ul class="dropdown">
                                                                <li class="back"><h5><a href="#">« Zurück</a></h5></li>
                                                                <li><a href="http://crossasia.org/meinxasia/registrierung.html" onfocus="blurLink(this);"  >CrossAsia Registrierung</a></li>
                                                                <li><div class="login"><form action="http://crossasia.org/meinxasia/anmeldung.html" id="mailform" name="mailform" enctype="multipart/form-data" method="post" target="_top" onsubmit="return validateForm('mailform','user,Benutzer\x3A,pass,Passwort\x3A','','','')"><div style="display:none;"><input type="hidden" name="logintype" id="mailformlogintype" value="login" /><input type="hidden" name="pid" value="2" /><input type="hidden" name="no_cache" value="1" /></div>
                        <div class="csc-loginform"><div class="csc-mailform-field"><label for="mailformuser">Benutzer:</label> <input type="text" name="user" id="mailformuser" size="20" value="" /></div><div class="csc-mailform-field"><label for="mailformpass">Passwort:</label> <input type="password" name="pass" id="mailformpass" size="20" value="" /></div><div class="csc-mailform-field"> <input type="submit" name="submit" id="mailformsubmit" value="Anmelden" class="csc-mailform-submit button" /></div></div>
                        </form></div></li>
                                                </ul>
                                 </li>
                        </ul>
                </section>
                </nav>
          </div>
        </div>
    </div>

<!--------------------------------------XASIA englische Navigation--------------------------------------------------------------------------------------------------->
{{elif session.forced_language=='en':}}


<div id="xasia_navi" class="container">
      <div class="row">
          <div class="col-lg-12 col-sm-12 col-xs-12">
           <nav class="top-bar" id="MainMenu">
                        <ul class="title-area">
                          <li class="name">
                                <h1>
                                        <a title="zur Startseite" href="http://crossasia.org/en.html"><span class="xAsiaIcon"></span></a>
                                </h1>
                          </li>
                          <li class="divider"></li>
                          <li class="toggle-topbar menu-icon">
                              <a href="#">
                                 <span onclick="toggle_visibility('topNavElements');">Menu</span>
                              </a>
                          </li>
                        </ul>
                        <section class="top-bar-section" id="topNavElements">
                        <ul class="left">
                          <li class="has-dropdown"><a href="#" onClick="return false;"> <div class="icon-file-text hide-for-small"></div>Resources </a>
                            <ul class="dropdown">
                              <li class="back"><h5><a href="#">« Back</a></h5></li>
                              <li><a href="http://crossasia.org/en/ressourcen/search.html"  >CrossAsia Search</a></li>
                              <li><a href="http://crossasia.org/en/ressourcen/databasesearch.html"  >Databases</a></li>
                              <li><a href="http://crossasia.org/en/ressourcen/sammlungen.html"  >Digital Collections</a></li>
                              <li><a href="http://crossasia.org/en/ressourcen/tp.html"  >Thematic Portals</a></li>
                              <li><a href="http://crossasia.org/en/ressourcen/ogea/ogeasearch.html"  >Online Guide East Asia</a></li>
                              <li><a href="http://crossasia.org/en/ressourcen/archive.html"  >CrossAsia Archive</a></li>

                            </ul>
                          </li>
                          <li class="divider"></li>
                          <li class="has-dropdown"><a href="#" onClick="return false;"> <div class="icon-cogs hide-for-small"></div>Service </a>
                            <ul class="dropdown">
                              <li class="back"><h5><a href="#">« Back</a></h5></li>
                              <li><a href="http://crossasia.org/en/meinxasia/xasiaforum.html"  >CrossAsia Forum</a></li>
                              <li><a href="http://blog.crossasia.org/"  >CrossAsia Blog</a></li>
                              <li><a href="http://crossasia.org/en/service/epublish.html"  >CrossAsia E-Publishing</a></li>
                              <li><a href="http://crossasia.org/en/service/dod.html"  >CrossAsia DoD</a></li>
                              <li><a href="http://crossasia.org/en/service/blv.html"  >Catalogues & Blauer Leihverkehr</a></li>
                              <li><a href="http://crossasia.org/en/service/lab.html"  >CrossAsia Lab</a></li>
                              <li><a href="http://crossasia.org/en/service/xasia.html"  >About CrossAsia</a></li>
                            </ul>
                          </li>
                          <li class="divider"></li>
                          <li class="has-dropdown"><a href="#" onClick="return false;"> <div class="icon-user hide-for-small"></div>My CrossAsia </a>
                            <ul class="dropdown">
                              <li class="back"><h5><a href="#">« Back</a></h5></li>
                              <li><a href="http://crossasia.org/en/meinxasia/xasiaforum.html"  >CrossAsia Forum</a></li>
                              <li><a href="http://crossasia.org/en/meinxasia/registrierung.html"  >CrossAsia Registration</a></li>
                            </ul>
                          </li>
                          <li class="divider"></li>
                        </ul>

                        <ul id="rightTopNav" class="right">
                               <li class="has-dropdown">
    				<form id="pazpar2" action="http://crossasia.org/en/ressourcen/search.html?tx_pazpar2_pazpar2%5Bcontroller%5D=Pazpar2" method="get">
    					<div id="topSearch">
    							 	<input id="pz2InputTop" name="tx_pazpar2_pazpar2[queryString]" placeholder="Search" class="infocus" size="10" type="text" />
    							 	<button id="pz2ButtonTop" class="button small" value="Go"><span class="sprite search-w" style="margin:0;">&nbsp;</span></button>
    					</div>
    				</form>   
                               </li>			
    			       <li class="divider"></li>
                               <li class="has-dropdown">
                                        <a href="#" id="loginLink"><div class="icon-unlock">&nbsp;</div>Login</a>
                                                <ul class="dropdown">
                                                     <li class="back"><h5><a href="#">« Back</a></h5></li>
                                                                <li><a href="http://crossasia.org/en/meinxasia/registrierung.html" onfocus="blurLink(this);"  >CrossAsia Registration</a></li>
                                                                <li><div class="login"><form action="http://crossasia.org/en/meinxasia/anmeldung.html" id="mailform" name="mailform" enctype="multipart/form-data" method="post" target="_top" onsubmit="return validateForm('mailform','user,Benutzer\x3A,pass,Passwort\x3A','','','')"><div style="display:none;"><input type="hidden" name="logintype" id="mailformlogintype" value="login" /><input type="hidden" name="pid" value="2" /><input type="hidden" name="no_cache" value="1" /></div>
                        <div class="csc-loginform"><div class="csc-mailform-field"><label for="mailformuser">Username:</label> <input type="text" name="user" id="mailformuser" size="20" value="" /></div><div class="csc-mailform-field"><label for="mailformpass">Password:</label> <input type="password" name="pass" id="mailformpass" size="20" value="" /></div><div class="csc-mailform-field"> <input type="submit" name="submit" id="mailformsubmit" value="Anmelden" class="csc-mailform-submit button" /></div></div>
                        </form></div></li>
                                                </ul>
                                 </li>
                        </ul>
                </section>
                </nav>
          </div>
        </div>
    </div>
{{pass}}
</div>
<header id="header" class="container">
    <div class="headimgbg">
        <img src="{{=URL('static','images/press/schiffsbaukunde_crop.jpg')}}"  alt="Start Hintergrund" class="imgcontainer hide4nojs">
     </div>
</header>  
</div>
 
    <div class="container-fluid">

    
    <div class="container">

        <header>
            <div class="col-lg-12" id="header_menu">
                <div class="navbar navbar-default navbar-static-top" id="main_menu" style="width: 100%">
                    <div class="container">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">6
                                <span class="icon-bar"></span>

                            </button>
                            <a class="navbar-brand" href="index.html">

                            </a>
                        </div>
                        <div class="navbar-collapse collapse pull-left ">
                            <ul class="nav navbar-nav">
                                <li><a href="{{=URL('home','index')}}">{{=T('Home')}}</a></li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
                                       data-delay="0" data-close-others="false">{{=T('About us')}}<b class=" icon-angle-down"></b></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{=URL('about_us', 'profile')}}"> {{=T('Profile')}}</a></li>
                                        <li><a href="{{=URL('about_us','our_service')}}">{{=T('Our Service')}}</a></li>
                                        <li><a href="{{=URL('about_us','technology')}}"> {{=T('Technology')}}</a></li>
                                    </ul>
                                </li>
                                <li><a href="{{=URL('catalog','index')}}">{{=T('Books')}}</a></li>
                                <li><a href="{{=URL('series','index')}}">{{=T('Series')}}</a></li>
                                <!--<li><a href="{{=URL('journals','index')}}">{{=T('Journals')}}</a></li>-->
	                        <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
                                       data-delay="0" data-close-others="false">{{=T('Partner')}}<b class=" icon-angle-down"></b></a>
                                    <ul class="dropdown-menu">
                                      {{if session.forced_language=='de':}}
                                        <li><a href="{{=URL('partner', 'index/asdgfg')}}">Arbeitskreis Südasien</a></li>
                                      {{elif session.forced_language=='en':}}
                                        <li><a href="{{=URL('partner', 'index/asdgfg')}}">South Asia Study Group</a></li>
                                      {{pass}}
                                    </ul>
                                </li>


                                <li class="dropdown">

                                    <a href="#" class="dropdown-toggle " data-toggle="dropdown" data-hover="dropdown"
                                       data-delay="0" data-close-others="false">{{=T('Publishing')}} <b class="icon-angle-down"></b></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{=URL('publishing','for_authors')}}">{{=T('Information for Authors')}} </a></li>
                                        <!--li><a href="{{=URL('publishing','book_proposal')}}">{{=T('Book Proposal')}}</a></li-->
                                        <li><a href="{{=URL('publishing','rights_and_licences')}}">{{=T('Rights and Licences')}} </a></li>

                                    </ul>
                                </li>

                            </ul>
                        </div>

                        <!-- second -->
                        <div class="navbar-collapse collapse pull-right visible-lg hidden-md">
                            <ul class="nav navbar-nav">


                                <li class="social_media">
                                    <a>
                                    <img id="nav-social-media" src="{{=URL('static','images/press/social-media-icons.png')}}" height="30px"  alt="Planets" usemap="#socialmap">


                                    <map name="socialmap">
					{{if request.url=='/': }}
					{{request.url=request.url+myconf.take('web.application')}}
					{{pass}}	
                                 <area shape="rect" coords="0,0,30,30" alt="fb" href="https://www.facebook.com/sharer/sharer.php?u={{=myconf.take('web.url')+request.url}}">
                                        <area shape="rect" coords="30,0,60,30" alt="twitter" href="http://twitter.com/home?status={{=myconf.take('web.url')+request.url}}">
                                        <area shape="rect" coords="60,0,90,30" alt="twitter" href="https://www.linkedin.com/shareArticle?mini=true&url={{=myconf.take('web.url')+request.url}}">
                                        <area shape="rect" coords="90,0,120,30" alt="twitter" href="https://plus.google.com/share?url={{=myconf.take('web.url')+request.url}}">


                                    </map>


                                </a></li>

                            </ul>
                        </div>


                    </div>
                </div>
            </div>
            <div class="col-lg-12 ">
                <div id="breadcrumbNav">
                    <div class="container">
            {{if session.forced_language=='de':}}
                        <span>Sie befinden sich hier : </span><ul class="vbottom"><li><a href="http://crossasia.org/" title="zur Seite: CrossAsia"  >CrossAsia</a><span>></span></li><li><a href="http://crossasia.org/service.html" title="zur Seite: Service"  >Service</a><span>></span></li><span title="Hier befinden Sie sich."><a href="http://crossasia.org/service/epublish.html"  class="current">CrossAsia E-Publishing</a></span></ul>
                        <ul class="sprachwechsel">
                            <li id="langMenu"><a href="{{=request.url}}?lang=en" onfocus="blurLink(this);"  style="display:none;"><div class="icon-flag"></div>English</a><a href="{{=request.url}}?lang=en" onfocus="blurLink(this);"  class="sprachwechsel"><div class="icon-flag"></div>English</a></li>
                        </ul>
            {{elif session.forced_language=='en':}}
                       <span>You are here : </span><ul class="vbottom"><li><a href="http://crossasia.org/en.html" title="to: CrossAsia"  >CrossAsia</a><span>></span></li><li><a href="http://crossasia.org/en/service.html" title="to: Service"  >Service</a><span>></span></li><span title="You are here."><a href="http://crossasia.org/en/service/epublish.html"  class="current">CrossAsia E-Publishing</a></span></ul>
                       <ul class="sprachwechsel">
                           <li id="langMenu"><a href="{{=request.url}}?lang=de" onfocus="blurLink(this);"  style="display:none;"><div class="icon-flag"></div>Deutsch</a><a href="{{=request.url}}?lang=de" onfocus="blurLink(this);"  class="sprachwechsel"><div class="icon-flag"></div>Deutsch</a></li>
                       </ul>
             {{pass}}
                     </div> 
                </div>
             </div>
        </header>


    </div>


        <!-- end header -->
    <!-- Masthead ===================================== -->
    {{block header}}
    {{end}}
    <!-- Main ========================================= -->
    <!-- Begin page content -->

      
{{if left_sidebar_enabled:}}
        <div class="col-md-3 left-sidebar">
            {{block left_sidebar}}
            <h3>Left Sidebar</h3>
            <p></p>
            {{end}}
        </div>
      {{pass}}

      <div class="{{=middle_column}}">
        {{block center}}
        {{include}}
        {{end}}
      </div>

      {{if right_sidebar_enabled:}}
        <div class="col-md-3">
            {{block right_sidebar}}
            <h3>Right Sidebar</h3>
            <p></p>
            {{end}}
        </div>
      {{pass}}

    </div>

    {{block footer}} <!-- this is default footer -->

      <div class="container">
         <footer>

     <div id="sub-footer"  class="screen">

     <div class="container">

        <div class="row">

            <div class="col-lg-12">
                              <div id="footer_logo_pkp" class="widget">
                                    <a href="https://pkp.sfu.ca/" title="Homepage PKP - Public Knowledge Project"><img class="" alt="Public Knowledge Project" src="http://books.ub.uni-heidelberg.de/lib/pkp/templates/images/pkp_brand.png"></a>
                               </div>
            </div>

        </div>

    </div>


         <div class="container footer_logos">

         <div class="col-lg-12">

                    <div class="row">

                        <div class="col-lg-3">
                          {{if session.forced_language=='de':}}
                          <span class="footer_logo_beschreibung_ub">Ein Dienst der</span>
                          {{elif session.forced_language=='en':}}
                          <span class="footer_logo_beschreibung_ub">A service of</span>
                          {{pass}}
                          <div id="footer_logo_ub" class="widget"><a href="http://www.ub.uni-heidelberg.de" title="Homepage Universitätsbibliothek Heidelberg"><img alt="Logo - Universitätsbibliothek Heidelberg" src="{{=URL('static','/images/press/LogoUBH.png')}}" /></a></div>
                        </div>


                        <div class="col-lg-3">
                           <div id="footer_logo_sai" class="widget"><a href="http://www.dfg.de" title="Deutsche Forschungsgesellschaft"><img alt="Logo - Deutsche Forschungsgesellschaft" src="{{=URL('static','/images/press/LogoSAI.png')}}" /></a></div>
                        </div>


                        <div class="col-lg-3">
                          {{if session.forced_language=='de':}}
                          <span class="footer_logo_beschreibung_sb">In Zusammenarbeit mit</span>
                          {{elif session.forced_language=='en':}}
                          <span class="footer_logo_beschreibung_sb">In cooperation with</span>
                          {{pass}}
                           <div id="footer_logo_sbb" class="widget"><a href="http://crossasia.org/" title="Homepage CrossAsia"><img alt="Logo - CrossAsia" src="{{=URL('static','/images/press/LogoSBB.png')}}" /></a></div>
                        </div>

                        <div class="col-lg-3">
                          {{if session.forced_language=='de':}}
                          <span class="footer_logo_beschreibung_dfg">Gefördert durch</span>
                          {{elif session.forced_language=='en':}}
                          <span class="footer_logo_beschreibung_dfg">Supported by</span>
                          {{pass}}
                           <div id="footer_logo_dfg" class="widget"><a href="http://crossasia.org/" title="Homepage CrossAsia"><img alt="Logo - CrossAsia" src="{{=URL('static','/images/press/dfg_logo.png')}}" /></a></div>
                        </div>
             </div>
         </div>
     </div>


     <div id="footer-nav" class="container">
        		<div id="copyIconMenu">
          			<div class="footer_xa_icons">
          			<ul>
          				<li id="copyRight"><span>&copy;2016 Copyright CrossAsia</span></li>
          			</ul>
          			<ul>
          				<li class="navIcon"><a title="Print" href="javascript:window.print()"><i class="icon-print">&nbsp;</i></a></li>
    					<li class="navIcon"><a href="https://www.facebook.com/sharer.php" class="facebook" target="_blank"><i id="share" title="Share" class="icon-share">&nbsp;</i></a></li>
    					<li class="navIcon"><a title="favorite" href="" id="bookmarkme" rel="sidebar"><i class="icon-star">&nbsp;</i></a></li>
    					<li class="navIcon"><a title="RSS" href="/index.php?id=110"><i class="icon-rss">&nbsp;</i></a></li>
    				</ul>
    				</div>
    			</div>
      

                        <div id="footer_kontakt">
                               <ul class="nav nav-pills pull-right">
                                     <li><a target="_blank" href="http://crossasia.org/meinxasia/kontakt.html" style="padding-right: 0;">{{=T('Contact')}}</a></li>
                                     <li><a href="{{=URL('contact','imprint')}}" style="padding-right: 0;">{{=T('Legal Notice')}}</a></li>
                                     {{if session.forced_language=='de':}}
                                     <li><a href="http://crossasia.org/service/xasia.html" onfocus="blurLink(this);"  >Über CrossAsia</a></li>
                                     {{elif session.forced_language=='en':}}
                                     <li><a href="http://crossasia.org/en/service/xasia.html" onfocus="blurLink(this);"  >About CrossAsia</a></li>
                                     {{pass}}
                               </ul>
                        </div>

        

    </div>

   </div> 
   </footer>
  </div>
    {{end}}
        <script src="{{=URL('static','js/jquery.flexslider.js')}}"></script>
    <script src="{{=URL('static','js/bootstrap.min.js')}}"></script>
  </body>
</html>
{{db.t_usage_statistics.insert()}}
{{db.commit()}}
