{{extend 'layout.html'}}
{{import re, os}}
{{from ompformat import formatContributors, coverImageLink, formatSeriesPosition}}

      <div class="row">

            <div class="col-lg-3">

            </div>
            <div class="col-lg-9">
             <div class="btn-group pull-right">
             <a href="#forthcoming" title="{{=T('Forthcoming')}}"><button class="btn btn-default" type="button">{{=T('Forthcoming')}}</button></a> 

				{{try:
            del b.sort_select[1][4]
            except:
            pass

            }}

            {{=b.sort_select}}
<a href="{{=URL('search','authors')}}" title="{{=T('Authors A-Z')}}" class="right"><button class="btn btn-default " type="button">{{=T('Authors A-Z')}}</button></a>

             </div>
            </div>
        </div>

		<div class="row">&nbsp;</div>
		
    {{for submission in submissions:}}
		<div class="col-lg-12 contentbox-12">		   
			<div class="row">	  
				<div class="col-lg-3">
					<article>
						<div class="post-image">
							  <a href="{{=URL('catalog','book/'+str(submission.attributes.submission_id))}}">
							{{=IMG(_src=coverImageLink(request, press.press_id, submission.attributes.submission_id),_class='titelbild')}}
							  </a>
						</div>
					</article>
				</div>
				<div class="col-lg-9">
					<article>
						<div class="post-heading">
							{{include 'catalog/snippets/submission.html'}}
							{{series = submission.associated_items.get('series', None)}}
							{{if series:}}
								{{series_title = series.settings.getLocalizedValue('title', locale)}}
								{{series_subtitle = series.settings.getLocalizedValue('subtitle', locale)}}
								<i>{{=series_title}}{{ if series_subtitle: }} – {{=series_subtitle}}{{pass}}{{if submission.attributes.series_position:}}, {{=formatSeriesPosition(submission.attributes.series_position)}}{{pass}}</i>
							{{pass}}
						</div>
						<p>
							<i class="icon-quote-left"></i>
							{{abstract = submission.settings.getLocalizedValue('abstract', locale)}}
							{{if abstract:}}
								{{=XML(abstract)}}
							{{pass}}
						</p>
						<div class="widget">
							<h5 class="widgetheading"></h5>
							<ul class="tags">
							  <li><a href="{{=URL('catalog','book/'+str(submission.attributes.submission_id))}}">{{=T('More information' )}}</a></li>
							</ul>
						</div>
					</article>
				   </div>
			</div>			
		</div>		
    {{pass}}

<div class="row">
	<div class="col-lg-3">
	</div>
	<div class="col-lg-9">
		{{=b.navigation_list}}
		{{=b.navigation_select}}
	</div>
</div>



<div class="row">
	<div class="col-lg-12">
        <div class="solidline"></div>
			<div class="post-heading">
				<h4 id="forthcoming">{{=T('Forthcoming')}}</h4>
			</div>
		<div class="solidline"></div>
    </div>
</div>

<div class="row">
		<div class="col-lg-12 contentbox-12">		   
			<div class="row">	
				<div class="col-lg-3">
					<article>
						<div class="post-image">{{=IMG(_src=URL('static','images/catalog/burger2018.jpg'),_width='300',_class='titelbild')}}</div>
					</article>
				</div>
				<div class="col-lg-9">
				{{if session.forced_language =='de': }}
					<article>
						<div class="post-heading">
							<h4>Maya Burger, Nadia Cattoni (Hrsg.)</h4>
							<h4>Early Modern India: Literatures and Images, Texts and Languages</h4>
			  <p>This book presents recent scholarly research on one of the most important literary and historical periods of the /Early Modern /era from a wide range of approaches and perspectives. It contains a selection of contributions presented at the 12th International Conference on Early Modern Literatures of North India which provide fresh and new material as well as innovative methods to approach it. The organizing principle of the volume lies in its exploration of the links between a multiplicity of languages (Indian vernaculars, Persian, Sanskrit), of media (texts, paintings, images) and of traditions (Hindu, Jain, Sikh, Muslim). The role of the Persian language and the importance of the translations from Sanskrit into Persian are discussed in light of the translational turn. The relations between various yogic traditions, especially of Nath origin, from Kabir and other sampradayas, are reconsidered.</p> 
						</div>

				</div>
			</article>
					{{elif session.forced_language =='en': }}
					<article>
						<div class="post-heading">
							<h4>Maya Burger, Nadia Cattoni (Eds.)</h4>
							<h4>Early Modern India: Literatures and Images, Texts and Languages</h4>
			  <p>This book presents recent scholarly research on one of the most important literary and historical periods of the /Early Modern /era from a wide range of approaches and perspectives. It contains a selection of contributions presented at the 12th International Conference on Early Modern Literatures of North India which provide fresh and new material as well as innovative methods to approach it. The organizing principle of the volume lies in its exploration of the links between a multiplicity of languages (Indian vernaculars, Persian, Sanskrit), of media (texts, paintings, images) and of traditions (Hindu, Jain, Sikh, Muslim). The role of the Persian language and the importance of the translations from Sanskrit into Persian are discussed in light of the translational turn. The relations between various yogic traditions, especially of Nath origin, from Kabir and other sampradayas, are reconsidered.</p>
			  </div>

         </div>
				</article>
					{{pass}}  
				</div>
			</div>
		</div>
</div>


</div>