{{extend 'layout.html'}}
{{import re, os}}
{{from ompformat import formatContributors, coverImageLink}}

<div class="row">
    {{for submission in submissions:}}
		<div class="col-lg-12 contentbox-12">		   
			<div class="row">	  
				<div class="col-lg-3">
					<article>
						<div class="post-image">
							{{=IMG(_src=coverImageLink(request, press.press_id, submission.attributes.submission_id),_class='titelbild')}}
						</div>
					</article>
				</div>
				<div class="col-lg-9">
					<article>
						<div class="post-heading">
							{{include 'catalog/snippets/submission.html'}}
							{{series = submission.associated_items.get('series', None)}}
							{{if series:}}
								{{series_title = series.settings.getLocalizedValue('title', locale)}}
								{{series_subtitle = series.settings.getLocalizedValue('subtitle', locale)}}
								<i>{{=series_title}}{{ if series_subtitle: }} – {{=series_subtitle}}{{pass}}{{if submission.attributes.series_position:}}, {{=T('Vol.')}} {{=submission.attributes.series_position}} {{pass}}</i>
							{{pass}}
						</div>
						<p>
							<i class="icon-quote-left"></i>
							{{abstract = submission.settings.getLocalizedValue('abstract', locale)}}
							{{if abstract:}}
								{{=XML(abstract)}}
							{{pass}}
						</p>
						<div class="widget">
							<h5 class="widgetheading"></h5>
							<ul class="tags">
							  <li><a href="{{=URL('catalog','book/'+str(submission.attributes.submission_id))}}">{{=T('More information' )}}</a></li>
							</ul>
						</div>
					</article>
				   </div>
			</div>			
		</div>		
    {{pass}}
</div>

<div class="row">
	<div class="col-lg-12">
        <div class="solidline"></div>
			<div class="post-heading">
				{{if session.forced_language =='de': }}
				<h4>Geplant für Frühjahr 2017</h4>
				{{elif session.forced_language =='en': }}
				<h4>Forthcoming Spring 2017</h4>
				{{pass}}
			</div>
		<div class="solidline"></div>
    </div>
</div>

<div class="row">
		<div class="col-lg-12 contentbox-12">		   
			<div class="row">	
				<div class="col-lg-3">
					<article>
						<div class="post-image">{{=IMG(_src=URL('static','images/catalog/kunz2017.jpg'),_width='300',_class='titelbild')}}</div>
					</article>
				</div>
				<div class="col-lg-9">
					{{if session.forced_language =='de': }}
					<article>
						<div class="post-heading"><a id="kunz"></a>
							<h4>Hans-Martin Kunz</h4>
							<h4>Schaubühnen der Öffentlichkeit:<br /> Das Jatra-Wandertheater in Westbengalen (Indien)</h4>
						</div>
						<p>Jatra ist eine im indischen Bundesstaat Westbengalen populäre Wandertheaterform, die sich im Laufe des 19. und 20. Jahrhunderts vom Volkstheater zu einer bedeutenden Kulturindustrie gewandelt hat und mit seinen melodramatischen, aber oft auch politischen Stücken jährlich mehrere zehn Millionen Menschen auf dem bengalischen und Land und in den Kleinstädten erreicht. Die Dissertation „Schaubühnen der Öffentlichkeit. Das Jatra-Wandertheater in Westbengalen (Indien)“ von Hans-Martin Kunz analysiert die von Kalkutta ausgehenden historischen Entwicklungen sowie die aktuellen Modernisierungsstrategien der Akteure dieses tourenden Musicalspektakels und legt dar, dass das Jatra-Theater entgegen seiner üblichen Kategorisierung nicht als Volkstheater, sondern als Massenmedium betrachtet werden muss und seine Rolle zentral für das Verständnis der westbengalischen Öffentlichkeit bzw. <i>public sphere</i> ist.</p>
            <p>In Kooperation mit dem Draupadi Verlag wird diese Publikation auf CrossAsia-eBooks online frei zugänglich veröffentlicht. Gleichzeitig kann die gedruckte Ausgabe über den Buchhandel oder direkt über den Draupadi Verlag erworben werden.</p>
            <p>Geplant für Frühjahr 2017</p>
						<div class="widget">
							<h5 class="widgetheading"></h5>

						</div>
					</article>
					{{elif session.forced_language =='en': }}
					<article>
						<div class="post-heading"><a id="kunz_en"></a>
							<h4>Hans-Martin Kunz</h4>
							<h4>Schaubühnen der Öffentlichkeit:<br /> Das Jatra-Wandertheater in Westbengalen (Indien)</h4>
						</div>
									<p>Jatra ist eine im indischen Bundesstaat Westbengalen populäre Wandertheaterform, die sich im Laufe des 19. und 20. Jahrhunderts vom Volkstheater zu einer bedeutenden Kulturindustrie gewandelt hat und mit seinen melodramatischen, aber oft auch politischen Stücken jährlich mehrere zehn Millionen Menschen auf dem bengalischen und Land und in den Kleinstädten erreicht. Die Dissertation „Schaubühnen der Öffentlichkeit. Das Jatra-Wandertheater in Westbengalen (Indien)“ von Hans-Martin Kunz analysiert die von Kalkutta ausgehenden historischen Entwicklungen sowie die aktuellen Modernisierungsstrategien der Akteure dieses tourenden Musicalspektakels und legt dar, dass das Jatra-Theater entgegen seiner üblichen Kategorisierung nicht als Volkstheater, sondern als Massenmedium betrachtet werden muss und seine Rolle zentral für das Verständnis der westbengalischen Öffentlichkeit bzw. <i>public sphere</i> ist.</p>
            <p>In Kooperation mit dem Draupadi Verlag wird diese Publikation auf CrossAsia-eBooks online frei zugänglich veröffentlicht. Gleichzeitig kann die gedruckte Ausgabe über den Buchhandel oder direkt über den Draupadi Verlag erworben werden.</p>
            <p>Forthcoming spring 2017</p>
						<div class="widget">
							<h5 class="widgetheading"></h5>

						</div>
					</article>
					{{pass}}
				</div>
			</div>
		</div>
</div>


