{{extend 'layout.html'}}
<div id="main" class="container">
    <div class="row">
        <div class="col-lg-12">
            <h3>  {{if session.forced_language =='de': }}
                Vorschau 
                {{elif session.forced_language =='en': }}
                Preview
            {{pass}}
            </h3>
        </div>   
	</div>

<section id="content">
    

    		<div class="row contentbox-12" id="stasik">
			  <div class="alignleft" style="height: auto;">
				<div class="col-lg-2">
					<article>
						<div class="post-image">
							{{=IMG(_src=URL('static','images/catalog/cover_stasik.jpg'),_style='width:230px')}}
						</div>
					</article>
				</div>
				<div class="col-lg-9">
					<article>
						<div class="post-heading">
						    <b>Danuta Stasik  {{=T('(Ed.)')}}<br />
                            Oral–Written–Performed: The Rāmāyaṇa Narratives in Indian Literature and Arts</b>
						</div>
						<p>The Rāmāyaṇa tradition is well-known for an exhaustible variety of forms and narrative structures transmitted by different media. Oral-Written-Performed examines selected textual, oral, visual and performing forms in which the Rāma story has functioned in Indian literature and arts. It also investigates the techniques that transform the Rāmāyaṇa narratives. The volume addresses the question how narratives become vehicles for literary conventions and ideologies expressive of diverse sectarian concerns, or cultural values. It is an excellent companion to earlier publications on the Rāmāyaṇa tradition and indispensable reading for students of South Asian literature, arts and religion.</p>
						<p>
						  {{if session.forced_language =='de': }}
                            Erscheint am 28. Mai 2020
							{{elif session.forced_language =='en': }}
							Forthcoming on 28 May 2020
							{{pass}}
						</p>
					</article>
				</div>
			  </div>
			</div>
			
			<div class="row contentbox-12" id="chen">
			  <div class="alignleft" style="height: auto;">
				<div class="col-lg-2">
					<article>
						<div class="post-image">
							{{=IMG(_src=URL('static','images/catalog/preview.png'),_style='width:230px')}}
						</div>
					</article>
				</div>
				<div class="col-lg-9">
					<article>
						<div class="post-heading">
						    <b>Liang Chen<br />
                            Begräbnistexte im Sozialen Wandel der Han-Zeit: Eine typologische Untersuchung der Jenseitsvorstellungen</b>
						</div>
						<p>
						  {{if session.forced_language =='de': }}
                            Erscheint im Sommer 2020
							{{elif session.forced_language =='en': }}
							Forthcoming in summer 2020
							{{pass}}
						</p>
					</article>
				</div>
			  </div>
			</div>
			
			<div class="row contentbox-12" id="hahn">
			  <div class="alignleft" style="height: auto;">
				<div class="col-lg-2">
					<article>
						<div class="post-image">
							{{=IMG(_src=URL('static','images/catalog/preview.png'),_style='width:230px')}}
						</div>
					</article>
				</div>
				<div class="col-lg-9">
					<article>
						<div class="post-heading">
						    <b>Johanna Hahn<br />
                            Mythos und Moloch: Die Metropole in der modernen Hindi-Literatur (1970-2010)</b>
						</div>
						<p>Die vorliegende Studie untersucht Hindi-sprachige Stadtliteratur in der Zeit zwischen 1970 und der Gegenwart. Anhand von populären Mythen wie der „Trugstadt“ (<i>mayavi shahar</i>), Figuren wie dem Flaneur und Orten wie der Teebude zeigt sie, wie regionalsprachliche Narrative eine Schnittstelle zwischen globalen und nationalen Diskursen einerseits und lokalen Erfahrungswelten andererseits bilden. Hindi-Stadtliteratur eröffnet einen kritischen Diskursraum für gesellschaftliche Selbstbefragungen im modernen Indien.</p>
						<p>
						  {{if session.forced_language =='de': }}
                            Erscheint im Sommer 2020
							{{elif session.forced_language =='en': }}
							Forthcoming in summer 2020
							{{pass}}
						</p>
					</article>
				</div>
			  </div>
			</div>
     
    		<div class="row contentbox-12" id="joncheere">
			  <div class="alignleft" style="height: auto;">
				<div class="col-lg-2">
					<article>
						<div class="post-image">
							{{=IMG(_src=URL('static','images/catalog/cover_stasik.jpg'),_style='width:230px')}}
						</div>
					</article>
				</div>
				<div class="col-lg-9">
					<article>
						<div class="post-heading">
						    <b>Ayla Joncheere   {{=T('(Ed.)')}}<br />
                            Performing Rajasthan &ndash; Reading Practices:  From past to present, in local and global dimensions, and with academic, institutional and artist perspectives.</b>
						</div>
						<p>This edited volume is the outcome of a conference held in Jodhpur (September 2019). The conference was the first large-scale initiative to bring together performing artists, international renown scholars and organisations for the arts in a multi-disciplinary gathering. The scholarly, cultural and interdisciplinary exchange program aimed to bridge and connect theory and practice, encourage meaningful exchange, and create new opportunities for further research and artist development. It also aimed to promote conscientious documenting and safeguarding, deeper understanding, and intelligent re-creating of the arts of Rajasthan for posterity.</p>
						<p>
						  {{if session.forced_language =='de': }}
                            Erscheint im Herbst 2020
							{{elif session.forced_language =='en': }}
							Forthcoming in autumn 2020
							{{pass}}
						</p>
					</article>
				</div>
			  </div>
			</div>	

		<div class="row">
			<div  id="vorschau_reihen" class="col-lg-12">
				<h4>  {{if session.forced_language =='de': }}
					Reihen
					{{elif session.forced_language =='en': }}
					Series
				{{pass}}
				</h4>
			</div>   
		</div>	

    		<div class="row contentbox-12" id="media_cultural">
			  <div class="alignleft" style="height: auto;">
				<div class="col-lg-2">
					<article>
						<div class="post-image">
							{{=IMG(_src=URL('static','images/series/media_cultural.png'),_style='width:230px')}}
						</div>
					</article>
				</div>
				<div class="col-lg-9">
					<article>
						<div class="post-heading">
						    <b>Nadja-Christina Schneider {{=T('(Ed.)')}}<br />
                            Media and Cultural Studies</b>
						</div>
						<p>
						{{if session.forced_language =='de': }}
						Die Reihe "Media and Cultural Studies" veröffentlicht Ergebnisse aktueller regionalwissenschaftlicher Forschungen, die sich mit medien- und kulturwissenschaftlichen Fragen befassen. Einen weiteren Schwerpunkt bilden Forschungen an der Schnittstelle von Medienkultur- und Geschlechterforschung. Die Reihe dient insbesondere transregional angelegten und Südasien bezogenen Qualifikationsarbeiten und Sammelbänden als Publikationsplattform. Sie bietet darüber hinaus auch die Möglichkeit, multimediale Inhalte zu publizieren
						{{elif session.forced_language =='en': }}
						The "Media and Cultural Studies" series publishes original research results in the area studies that deal with questions of media and cultural studies. An additional focus is laid on innovative research at the interface of media culture and gender studies. In particular, the series serves as a publication platform for transregional and South Asia-related projects, for instance, PhD dissertations or edited volumes. Furthermore, it offers possibilities for multimedia publications.
						{{pass}}
						</p>
						<p>
						  {{if session.forced_language =='de': }}
                            Erscheint im Herbst 2020
							{{elif session.forced_language =='en': }}
							Forthcoming in autumn 2020
							{{pass}}
						</p>
					</article>
				</div>
			  </div>
			</div>		
    </div>
    
</section>