{{extend 'layout.html'}}

<div class="row">
    <div class="col-lg-12 contentbox-12">
            <h3>  {{if session.forced_language =='de': }}
                Unser Angebot
                {{elif session.forced_language =='en': }}
                Our service
            {{pass}}
            </h3>


                {{if session.forced_language =='de': }}
             <p>Die Publikation erfolgt parallel in mehreren Versionen: <strong>in digitaler Form Open Access als PDF und ggf. auch in HTML</strong> sowie – wenn gewünscht – als <strong>gedrucktes Buch</strong> in einer Hard- oder Softcover-Ausgabe, die kostenpflichtig im Sortiments- und Online-Buchhandel erhältlich ist.</p>
             <p>Alle Publikationen erhalten eine ISBN  (<a href="https://de.wikipedia.org/wiki/Internationale_Standardbuchnummer" title="Wikipedia-Eintrag zur ISBN">Internationale Standardbuchnummer</a>) und eine DOI (<a href="https://de.wikipedia.org/wiki/Digital_Object_Identifier" title="Wikipedia-Eintrag zu DOI">Digital Object Identifier</a>), um den dauerhaften Zugang und die Sichtbarkeit der Veröffentlichungen zu gewährleisten. Durch die formale und inhaltliche Erschließung sind die Publikationen in nationalen und internationalen Bibliothekskatalogen (HEIDI, SWB, KVK, WorldCat, etc.) nachgewiesen sowie im Volltext über Suchmaschinen indexiert.</p>
             <p>Neben unserem E-Publishing-Angebot für Monographien und Sammelbände etc. bietet CrossAsia-eBooks auch die Möglichkeit, zugehörige <a href="https://heidata.uni-heidelberg.de/dataverse/xAsiaBooks/" title="xAsia Books Forschungsdaten auf dem Repositorium der Universität Heidelberg heiDATA">Forschungsdaten</a> dauerhaft zu archivieren.</p>
             <p>Die Universitätsbibliothek Heidelberg gewährleistet das nachhaltige Hosting der Software <a href="https://pkp.sfu.ca/omp/" title="Homepage Public Knowledge Project, Software Open Monograph Press">Open Monograph Press (OMP)</a> mit der Ihre Monographie, Ihr Sammelwerk oder Ihre Schriftenreihe dauerhaft online verfügbar ist.</p>
             <p>Wenn Sie Interesse an unserem Angebot haben, nehmen Sie mit uns <a href="{{=URL(myconf.take('web.application'),'contact','index')}}" title="Kontakt">Kontakt</a> auf – unabhängig davon, ob sich Ihr Open-Access-E-Book noch in der Planungsphase befindet oder ob eine bereits im Printformat existierende Schriftenreihe in eine elektronische Ausgabe transformiert werden soll.</p>
             <p>Weitere Informationen finden Sie unter <a href="{{=URL(myconf.take('web.application'),'publishing','for_authors')}}" title="Informationen für Autoren">"Informationen für Autoren"</a>.</p>

{{elif session.forced_language =='en': }}
             <p>Your works are normally published in several formats: in <strong>digital form as an Open Access PDF Document and, if necessary, also in HTML</strong>. If desired the work can also be published as a <strong>printed book</strong> in a hard or softcover edition, which can be purchased from online booksellers as well as in local bookstores.</p>
             <p>All publications receive an ISBN (<a href="https://en.wikipedia.org/wiki/International_Standard_Book_Number" title="Homepage Wikipedia, article on ISBN">International Standard Book Number</a>) and a DOI (<a href="https://en.wikipedia.org/wiki/Digital_object_identifier" title="Homepage Wikipedia, article on doi">Digital Object Identifier</a>) to ensure permanent access and visibility of the publications. The publications are listed in German and international library catalogues (HEIDI, SWB, KVK, WorldCat, etc.) and indexed in full text via search engines.</p>
             <p>In addition to our e-publishing services for monographs, edited volumes, etc., CrossAsia-eBooks also offers the possibility of permanently archiving associated <a href="https://heidata.uni-heidelberg.de/dataverse/xAsiaBooks/" title="xAsia Books on heiDATA - research data repository of Heidelberg University">research data</a>.</p>
             <p>Heidelberg University Library guarantees the long-term hosting of the  <a href="https://pkp.sfu.ca/omp/" title="Homepage Public Knowledge Project, Software Open Monograph Press">Open Monograph Press (OMP)</a> software, which makes your monograph, anthology or publication series permanently available online.</p>
             <p>If you are interested in publishing with CrossAsia-eBooks then do not hesitate to <a href="{{=URL(myconf.take('web.application'),'contact','index')}}" title="Contact">contact us</a> – regardless of whether you are still planning your Open Access eBook or wish to turn a printed version of a book or a series into an electronic edition.</p>

             <p>Further information can be found under <a href="{{=URL(myconf.take('web.application'),'publishing','for_authors')}}" title="Information for authors">“Information for Authors”</a>.</p>
             

                {{pass}}


    </div>
</div>  
