{{extend 'layout.html'}}

<div class="row">
    <div class="col-lg-12 contentbox-12">
            <h3>  {{if session.forced_language =='de': }}
                Profil
                {{elif session.forced_language =='en': }}
                 Profile
            {{pass}}
            </h3>

            
                {{if session.forced_language =='de': }}
                <p>Die Open-Access-Plattform <b>CrossAsia-eBooks</b> bietet Asienwissenschaftlerinnen und Asienwissenschaftlern weltweit eine zeitnahe und kostenfreie Publikationsmöglichkeit für wissenschaftliche E-Books.</p>
                <p>Wir unterstützen <b>Open Access</b> als Publikationsmodell für die Verbreitung von Forschungsergebnissen und publizieren sowohl <b>Erstveröffentlichungen</b> ("goldener Weg") als auch <b>Zweitveröffentlichungen</b> ("grüner Weg").</p>
                <p><b>CrossAsia-eBooks</b> ist die Open-Access-Publikationsplattform für E-Books von <b>CrossAsia</b>, dem von der DFG geförderten <b>Fachinformationsdienst Asien</b> und wird von der Universitätsbibliothek Heidelberg verantwortet.</p>
                <h5>CrossAsia-eBooks ist  den folgenden Prinzipien verpflichtet:</h5>

          <ul class="standard">
            <li>Primäre Publikationsform ist die Online-Veröffentlichung in unterschiedlichen digitalen Formaten im Open Access.</li>
            <li>In Ergänzung zu den frei zugänglichen digitalen Formaten bietet <b>CrossAsia-eBooks</b> die Veröffentlichung als Buch (Print-on-Demand) an, das kostenpflichtig über den Buchhandel bezogen werden kann.</li>
            <li>Veröffentlicht werden Monographien und Sammelbände mit einem regionalen Bezug zu Asien (Südasien, Ost- und Südostasien). Inhaltlich wird die ganze Bandbreite asienwissenschaftlicher Forschung abgedeckt.</li>
            <li>Die Erfüllung wissenschaftlicher Qualitätsstandards ist das wichtigste Kritierium für eine Publikation in <b>CrossAsia-eBooks</b>. Diese sollte beispielsweise bei Dissertationen durch die Empfehlung der Gutachter oder bei wissenschaftlichen Reihen durch die Herausgeber sichergestellt werden.</li>
            <li>Bei <b>CrossAsia-eBooks</b> veröffentlichte Titel erhalten eine DOI, eine eigene ISBN bzw. ISSN bei Buchreihen und sind somit eindeutig referenzierbar.</li>
        </ul>
        
                     {{elif session.forced_language =='en': }}
                <p>The Open Access platform <b>CrossAsia-eBooks</b> offers researchers in Asian Studies a possibility to publish their research in time and free of charges.</p>
                <p>We support the <b>Open Access</b> publishing model for distributing research results and publish therefore <b>primary publications</b> (“gold”) as well as <b>secondary publications</b> (“green”).</p>
                <p><b>CrossAsia-eBooks</b> is part of <b>CrossAsia</b>, the <b>scientific information service for Asian studies</b> funded by the German Research Foundation (DFG) and is administered by Heidelberg University Library.</p>
<h5>CrossAsia-eBooks adheres to the following principles:</h5>
          <ul class="standard">
            <li>The primary form of publication is Open Access online publication in different digital formats.</li>
            <li>In addition to the freely available digital formats <b>CrossAsia-eBooks</b> also offers a book publication (print on demand) that can be purchased from local or online booksellers.</li>
            <li>We publish monographs as well as series with a regional focus on Asia (South Asia, East Asia and Southeast Asia).</li>
            <li>Compliance with academic quality standards is an important condition and should be guaranteed e.g. for dissertations by reviewers or for series by the series editors.</li>
            <li>All titles published with <b>CrossAsia-eBooks</b> have their own ISBN or ISSN (for series) as well as a DOI number and are thus clearly referenced.</li>
        </ul>
        
 
{{pass}}

    </div>
</div>

