{{extend 'layout.html'}}

<div class="row">
    <div class="col-lg-12 contentbox-12">
            <h3>  {{if session.forced_language =='de': }}
                Profil
                {{elif session.forced_language =='en': }}
                 Profile
            {{pass}}
            </h3>

            
                {{if session.forced_language =='de': }}
                <p><strong>CrossAsia-eBooks</strong> unterstützt <strong>Open Access</strong> als Publikationsmodell für die Verbreitung von Forschungsergebnissen und den freien Zugang zu wissenschaftlicher Information. Wir bieten Asienwissenschaftlerinnen und Asienwissenschaftlern weltweit die Möglichkeit, ihre Forschungsergebnisse zeitnah und kostenfrei elektronisch zu veröffentlichen und so die Sichtbarkeit und die Wirkung Ihrer Publikationen zu erhöhen. Wir publizieren sowohl <strong>Erstveröffentlichungen</strong> wissenschaftlicher Werke („goldener Weg“ des Open Access) als auch <strong>Zweitveröffentlichungen</strong> („grüner Weg“ des Open Access), d.h. die zusätzliche Veröffentlichung von einem bereits gedruckt erschienenen Werk.</p>
                
                <h5>CrossAsia-eBooks ist  den folgenden Prinzipien verpflichtet:</h5>

          <ul class="standard">
            <li>Die primäre Publikationsform ist die Online-Veröffentlichung in unterschiedlichen digitalen Formaten im Open Access (PDF, HTML).</li>
            <li>In Ergänzung zu den frei zugänglichen digitalen Formaten bietet CrossAsia-eBooks die Veröffentlichung als gedrucktes Buch (Print-on-Demand). Kostenpflichtige Hard- oder Softcoverausgaben können über den Buchhandel bezogen werden kann.</li>
            <li>Veröffentlicht werden Monographien und Sammelbände mit einem regionalen Bezug zu Asien (Südasien, Ost- und Südostasien). Inhaltlich wird die ganze Bandbreite asienwissenschaftlicher Forschung abgedeckt. Nicht in unser Publikationsprofil gehören in der Regel Tagungs- und Kongressberichte, Tätigkeitsberichte, populärwissenschaftliche Veröffentlichungen.</li>
            <li>Dissertationen akzeptieren wir, wenn sie mit „Summa cum laude“ oder „Magna cum laude“ bewertet wurden.</li>
            <li>Die Erfüllung wissenschaftlicher Qualitätsstandards ist das wichtigste Kriterium für eine Publikation in CrossAsia-eBooks. Diese sollte beispielsweise bei Dissertationen durch die Empfehlung der Gutachter oder bei wissenschaftlichen Reihen durch die Herausgeber sichergestellt werden.</li>
            <li>Bei CrossAsia-eBooks veröffentlichte Titel erhalten eine DOI und eine eigene ISBN und sind somit dauerhaft referenzierbar. Buchreihen erhalten darüber hinaus eine ISSN.</li>
          </ul>
          
          <p>Im Zentrum unserer derzeitigen Aktivitäten im Bereich des elektronischen Publizierens steht die Entwicklung multimedialer Publikationsmöglichkeiten. Strukturierte wissenschaftliche Texte können mit Bildern, Karten oder 3D-Visualisierungen (&ldquo;Enhanced eBooks&bdquo;) verknüpft werden. Diese Art der Veröffentlichung ist besonders gut auf die Bedürfnisse von Wissenschaftlerinnen und Wissenschaftlern zugeschnitten, deren Arbeit nicht nur Textbasiert ist, sondern die sich bei ihrer Forschung auf multimediale Daten wie Videos, Bilder oder Tonaufnahmen stützen.</p>
          <p><strong>CrossAsia-eBooks</strong> wird von der Deutschen Forschungsgemeinschaft (DFG) im Rahmen des Fachinformationsdienstes Asien (FID) unterstützt und von der Universitätsbibliothek Heidelberg verantwortet.</p>
          
          <p>Zum Einsatz kommt die Open-Source-Software <a href="https://pkp.sfu.ca/omp/" title="Homepage Public Knowledge Project, Software Open Monograph Press">OMP (Open Monograph Press)</a>  des <a href="https://pkp.sfu.ca/" title="Homepage Public Knowledge Project">Public Knowledge Project (PKP)</a></p>
          
          <h5 style="margin-bottom: 0;">Sie interessieren sich für eine Veröffentlichung bei CrossAsia-eBooks?</h5>
          <p>Nähere Informationen zum Publizieren und zu rechtlichen Fragen finden Sie unter der Rubrik <a href="{{=URL(myconf.take('web.application'),'publishing','for_authors')}}" title="Informationen für Autoren">„Publizieren“</a>.</p>

        
                     {{elif session.forced_language =='en': }}
                <p><strong>CrossAsia-eBooks</strong> supports <strong>Open Access</strong> as a publication model for the distribution of research results and free access to scientific information. We offer scholars in Asian Studies from around the world the opportunity to publish their research results electronically, promptly and free of charge, thus increasing the visibility and impact of their publications. We publish both <strong>first publications</strong> of scientific works (“golden path” of Open Access) and <strong>second publications</strong> (“green path“ of Open Access), i.e. the additional publication of a printed work.</p>
<h5>CrossAsia-eBooks adheres to the following principles:</h5>
          <ul class="standard">
            <li>The primary form of publishing is the Open Access online-publication in various digital formats (PDF, HTML).</li>
            <li>In addition to the freely accessible digital formats, CrossAsia-eBooks also offers a Print-on-Demand book publication. These hard- or softcover editions can be purchased from bookstores or online booksellers.</li>
            <li>We publish monographs as well as series with a regional focus on Asia (South Asia, East Asia and Southeast Asia). The content covers the entire spectrum of research in the field of Asian Studies. As a rule, our publication profile does not include conference and congress reports, activity reports or popular scientific publications.</li>
            <li>We accept Ph.D. dissertations if they are rated "Summa cum laude" or "Magna cum laude".</li>
            <li>Compliance with scientific quality standards is the most important criterion for publication in CrossAsia-eBooks. This should be ensured, for example, in the case of dissertations through the recommendation of the supervisors or in the case of scientific series by the editors.</li>
            <li>Books published with CrossAsia-eBooks receive a DOI and their own ISBN and can therefore be permanently referenced. Book series also receive an ISSN.</li>
        </ul>
      <p>At the centre of our current activities in the field of electronic publishing is the development of multimedia publishing possibilities. Structured scientific texts can be linked with images, maps or 3D visualizations ("Enhanced eBooks"). This type of publication is particularly well suited to the needs of scholars whose work is not purely text-based, but who rely in their research on multimedia data. </p>
      <p>CrossAsia-eBooks is part of the Specialized Information Service Asia (FID Asia) and partly funded by the Deutsche Forschungsgemeinschaft (DFG) within its Specialized Information Service programme. It is administered by Heidelberg University Library.
      <p>We use the open source software <a href="https://pkp.sfu.ca/omp/" title="Homepage Public Knowledge Project, Software Open Monograph Press">OMP (Open Monograph Press)</a> by the <a href="https://pkp.sfu.ca/" title="Homepage Public Knowledge Project">Public Knowledge Project (PKP)</a>.</p>
      <p>If you are you interested in publishing with CrossAsia-eBooks, you will find more information on publishing and legal issues under the category <a href="{{=URL(myconf.take('web.application'),'publishing','for_authors')}}" title="Information for authors">“Publishing“</a>.</p>
        
 
{{pass}}

    </div>
</div>

