{{extend 'layout.html'}}

<div id="main" class="container">
    <div class="row">
        <div class="col-lg-12">
            <h3>  {{if session.forced_language =='de': }}
                Deutsche Gesellschaft für Ur- und Frühgeschichte e.V. (DGUF) 
                {{elif session.forced_language =='en': }}
                Deutsche Gesellschaft für Ur- und Frühgeschichte e.V. (DGUF) 
            {{pass}}
            </h3>

            <p>
                {{if session.forced_language =='de': }}
                
                <div id="infoBoxRechts" class="col-lg-2">{{=IMG(_src=URL(myconf.take('web.application'),'static','images/editor/dguf_logo.jpg'),_width='145px')}}</div>
                <p>Die Deutsche Gesellschaft für Ur- und Frühgeschichte e.V. (DGUF) ist der mitgliederstärkste bundesweit tätige Fachverband für die mitteleuropäische Archäologie. Sie betreibt u.a. eine <a href="http://www.dguf.de" title="Webseite des DFUG">Website</a>, gibt einen kostenlosen <a href="http://www.dguf.de/index.php?id=49" title="Newsletter">Newsletter</a> und gibt neben der Monografienreihe <a href="http://heiup.uni-heidelberg.de/UBHD_OMPPropylaeum/catalog/series/arch-ber" title="Archäologische Berichte">"Archäologische Berichte"</a> auch die Zeitschrift <a href="http://www.dguf.de/index.php?id=37">"Archäologische Informationen"</a> heraus, die neben einer gedruckten Ausgabe ebenfalls im Open Access verfügbar ist (<a href="http://journals.ub.uni-heidelberg.de/index.php/arch-inf/index">hier</a>).</p>
             
                <p>Als Herausgeber der Monografienreihe fungieren für die DGUF derzeit namentlich Priv.-Doz. Dr. Frank Siegmund, Dr. Werner Schön, Diane Scherzler M.A. und Dr. Birgit Gehlen (Redaktionswebsite: <a href="http://www.dguf.de/index.php?id=354">http://www.dguf.de/index.php?id=354</a>).</p>
{{elif session.forced_language =='en': }}


                {{pass}}


            </p>

        </div>
    </div>
  </div>
 
