{{extend 'layout.html'}}

<div class="row">
    <div class="col-lg-12 contentbox-12">
	    <div class="row">
			<div class="col-lg-12">
				<h3>{{if session.forced_language =='de': }}
					   Deutsche Vereinigung für Chinastudien e. V. (DVCS)
					{{elif session.forced_language =='en': }}
					   Deutsche Vereinigung für Chinastudien e. V. (DVCS)
					{{pass}}
				</h3>
			</div>	
			
			{{if session.forced_language =='de': }}
			<div class="col-lg-9">                
                <p>Die Deutsche Vereinigung für Chinastudien e. V. (DVCS) mit Sitz im Berlin versteht sich als Vereinigung für Chinawissenschaftler/innen aus dem gesamten deutschsprachigen Raum. Die von ihr alljährlich veranstalteten Tagungen dienen der Vorstellung neuer Forschungsergebnisse sowie dem fachlichen Dialog nicht nur der Mitglieder untereinander, sondern mit allen an China Interessierten. Ein besonderes Anliegen der DVCS ist es, dem sinologischen Nachwuchs ein Diskussionsforum zu eröffnen, sowie ein organisatorisches Dach für Forschungsprojekte zu bieten und Publikationsmöglichkeiten zu schaffen. Weitere Informationen zu den Vereinsaktivitäten bzw. Vereinsgeschichte finden Sie auf der <a href="http://dvcs.eu/" title="Homepage DVCS">Homepage der Deutschen Vereinigung für Chinastudien</a>.</p>
                
              <div class="widget">            
                  <ul class="tags">
                    <li>              
                    <a href="{{=URL('catalog','series/dvcs')}}" title="Übersicht der Bände des Jahrbuchs der Deutschen Vereinigung für Chinastudien">Bände Jahrbuch der Deutschen Vereinigung für Chinastudien</a>              
                    </li>              
                  </ul>          
              </div>                  
 
		</div>        
					
					
			<div class="col-lg-3">
				<div id="infoBoxRechts">
				<p>{{=IMG(_src=URL('static','images/partner/dvcs_logo.png'),_width='230px')}}</p>
					   
							  <p><b>Kontakt</b><br>
							  Prof. Dr. Roland Altenburger (Vorsitzender)<br>
							  E-Mail: <a href="mailto:roland.altenburger@uni-wuerzburg.de">roland.altenburger@uni-wuerzburg.de</a><br /><br />
							  Prof. Dr. Christine Moll-Murata (stellvertretende Vorsitzende)<br />
							  E-Mail: <a href="mailto:christine.moll-murata@rub.de">christine.moll-murata@rub.de</a><br /><br />
							  Dr. Matthias Hahn (Kassenwart)<br />
							  E-Mail: <a href="mailto:matthias.hahn@bihealth.de">matthias.hahn@bihealth.de</a><br /><br />
							  Internet:<br /> <a href="http://dvcs.eu/vorstand.html" title="Homepage DVCS Verlag">http://dvcs.eu/vorstand.html</a></p>
				</div>                
			</div>
			
			{{elif session.forced_language =='en': }}
			
			<div class="col-lg-9">                
                <p>The German Association for Chinese Studies e. V. (DVCS), based in Berlin, regards itself as an association for scholars of Chinese studies from all German-speaking countries. The annual DVCS conferences help to achieve this aim by serving as a platform for the presentation of new research results and for academic discussions, not only for members of the association but also for all with an interest in China. The DVCS attaches special importance to providing a discussion forum for young Sinologists, an organizational roof for research projects, and opportunities for publication. Further information about association activities and history can be found on the <a href="http://dvcs.eu/index_en.html" title="Hompage DVCS">homepage of the German Association for Chinese Studies</a>.</p>
              <div class="widget">            
                  <ul class="tags">
                    <li>              
                    <a href="{{=URL('catalog','series/dvcs')}}" title="To the volumes of Jahrbuch der Deutschen Vereinigung für Chinastudien">Volumes Jahrbuch der Deutschen Vereinigung für Chinastudien</a>              
                    </li>              
                  </ul>          
              </div>                  
 
			</div>        
					
					
			<div class="col-lg-3">
				<div id="infoBoxRechts">
				<p>{{=IMG(_src=URL('static','images/partner/dvcs_logo.png'),_width='230px')}}</p>
					   
							  <p><b>Contact</b><br>
							  Prof. Dr. Roland Altenburger (president)<br>
							  E-Mail: <a href="mailto:roland.altenburger@uni-wuerzburg.de">roland.altenburger@uni-wuerzburg.de</a><br /><br />
							  Prof. Dr. Christine Moll-Murata (vice president)<br />
							  E-Mail: <a href="mailto:christine.moll-murata@rub.de">christine.moll-murata@rub.de</a><br /><br />
							  Dr. Matthias Hahn (treasurer)<br />
							  E-Mail: <a href="mailto:matthias.hahn@bihealth.de">matthias.hahn@bihealth.de</a><br /><br />
							  Internet:<br /> <a href="http://dvcs.eu/vorstand_en.html" title="Homepage DVCS - Committee">http://dvcs.eu/vorstand_en.html</a></p>
				</div>                
			</div>      
					
			{{pass}}
	
		</div>			

    </div>
 </div>

 
