{{extend 'layout.html'}}

<div class="row">
    <div class="col-lg-12 contentbox-12">
	    <div class="row">
			<div class="col-lg-12">
				<h3>  {{if session.forced_language =='de': }}
					   École française d'Extrême-Orient
					{{elif session.forced_language =='en': }}
					   École française d'Extrême-Orient
				{{pass}}
				</h3>
			</div>	
		</div>	

        <div class="row">
                {{if session.forced_language =='de': }}
				
				<div class="col-lg-9">
					 <p>Die École française d'Extrême-Orient wurde 1900 in Saigon gegründet und ist eine öffentliche Einrichtung unter der Schirmherrschaft des französischen Ministeriums für Hochschulbildung und Forschung. Die Mission der EFEO ist die interdisziplinäre Erforschung der Zivilisationen Asiens von Indien bis Japan. Ein Netzwerk von siebzehn Forschungszentren in zwölf asiatischen Ländern ermöglicht es ihren 42 Wissenschaftlerinnen und Wissenschaftlern (Anthropologen, Archäologen, Linguisten, Historikern und anderen), ihre Feldforschung zu betreiben und gleichzeitig ein Netzwerk von lokalen Spezialisten und Asienforscherinnen und Asienforschern aus der ganzen Welt aufrecht zu erhalten.</p>
					 <p>Ein ständiges EFEO-Zentrum mit Sitz in Peking wurde 1997 eröffnet und ersetzte die 1994 in Fuzhou eingerichtete Niederlassung. Das Peking-Zentrum ist Teil einer Kooperation mit dem Institut für die Geschichte der Naturwissenschaften an der Chinesischen Akademie der Wissenschaften. Die École française d'Extrême-Orient arbeitet auch mit den Instituten für Geschichte und Archäologie der Chinesischen Akademie der Sozialwissenschaften, der Pädagogischen Universität Peking, der Tsinghua Universität und der Nationalbibliothek zusammen. In den letzten Jahren haben EFEO-Mitglieder in Peking mehrere Forschungsprojekte in den Bereichen Geschichte, Anthropologie und Religionssoziologie sowie Wissenschaftsgeschichte durchgeführt.</p>
<p>Das EFEO arbeitet jetzt mit der Max Weber-Stiftung in Peking zusammen. Mit dem im Jahr 2017 eingerichteten European Research Centre for Chinese Studies (ERCCS) wollen beide Institutionen die akademischen Beziehungen zwischen ihren jeweiligen Ländern und China fördern und vertiefen.</p>
                     <!--<p>Zu den Bänden der Schriftenreihe „<a href="{{=URL('catalog','series/gsa')}}">Geographien Südasiens</a>“.</p>-->

				</div>
						
				<div class="col-lg-3">
					<div id="infoBoxRechts"><p>{{=IMG(_src=URL('static','images/partner/efeo_logo.png'),_width='230px',_style='margin-bottom:1em')}}</p>
					<p><b>Kontakt</b><br>
             EFEO Beijing Center<br /> 
             56 Zhuzhong hutong<br />
             Xicheng District<br />
             100009 Beijing<br />
             Volksrepublik China</p>			
					</div>
				</div>		

				{{elif session.forced_language =='en': }}
				
				<div class="col-lg-9">
					 <p>Founded in 1900 in Saigon, the French School of Asian Studies (École française d'Extrême-Orient) is a public institution under the aegis of the French Ministry of Higher Education and Research. The mission of the EFEO is interdisciplinary research on the civilizations of Asia, extending from India to Japan. A network of seventeen research centres in twelve Asian countries allows its 42 research scholars (anthropologists, archaeologists, linguists, historians and others) to carry out their fieldwork while maintaining a network of local specialists and Asianists from around the world.</p>
           <p>A permanent EFEO Centre in Beijing was established in 1997 to replace the branch office first set up in Fuzhou in 1994. The Beijing Centre is part of a cooperative effort undertaken with the Institute for the History of Natural Sciences at the Chinese Academy of Science. The School also works in collaboration with the History Institute and Archaeology Institute of the Chinese Academy of Social Sciences, the Normal University of Beijing, the University of Tsinghua and the National Library. Over recent years EFEO members in Beijing have carried out several research projects in history, anthropology, sociology of religion and history of science.</p>
           <p>The EFEO is now collaborating with the Max Weber Stiftung in Beijing. With the European Research Centre for Chinese Studies (ERCCS) created in 2017, both institutions aim at fostering and deepening academic relations between their respective countries and China.</p>
				</div>
						
				<div class="col-lg-3">
					<div id="infoBoxRechts"><p>{{=IMG(_src=URL('static','images/partner/efeo_logo.png'),_width='230px',_style='margin-bottom:1em')}}</p>
					<p><b>Contact</b><br />
             EFEO Beijing Center<br /> 
             56 Zhuzhong hutong<br />
             Xicheng District<br />
             100009 Beijing<br />
             People's Republic of China</p>
					</div>
				</div>	

                {{pass}}
		</div>		

    </div>
 </div>

 
