{{extend 'layout.html'}}

<div class="row">
    <div class="col-lg-12 contentbox-12">
            <h3>  {{if session.forced_language =='de': }}
                Rechte und Lizenzen
                {{elif session.forced_language =='en': }}
                Rights and Licenses

            {{pass}}
            </h3>
            <p>
                {{if session.forced_language =='de': }}

                <p><b>CrossAsia-eBooks</b> betreibt eine autorenfreundliche Rechtepolitik, die die Einräumung eines zeitlich und räumlich nicht eingeschränkten einfachen Nutzungsrechts zur Online-Veröffentlichung und zur Verbreitung der Druckausgabe umfasst. Autoren und Autorinnen behalten das Urheberrecht an dem Werk und gewähren <b>CrossAsia-eBooks</b> das Recht zu dessen Erst - bzw. Zweitveröffentlichung. Parallel dazu wird das Werk im Regelfall unter eine <a href="https://creativecommons.org/licenses/?lang=de" title="Seite von Creative Commons">Creative-Commons-Lizenz</a> gestellt. Diese erlaubt es anderen, das Werk weiterzuverbreiten, unter der Bedingung, dass der Autor/die Autorin benannt und auf die Erstveröffentlichung in diesem Verlag hingewiesen wird.</p>
<p>Autoren/Autorinnen können weitere, gesonderte Verträge mit anderen Anbietern für eine nicht exklusive Verbreitung einer von <b>CrossAsia-eBooks</b> veröffentlichten Version des Buches abschließen. Sie können es zum Beispiel auf einem institutionellen Repositorium einstellen oder bei einem anderen Verlag als Buch veröffentlichen.</p>



{{elif session.forced_language =='en': }}
<p><b>CrossAsia-eBooks</b> engages in an author-friendly rights management that includes the non-exclusive right to publish the work online and distribute a printed editon with no regional limitation and for the duration of the copyright term. The copyright remains with the authors and they confer to <b>CrossAsia-eBooks</b> the right to publish the work as primary or secondary publication. In addition, the work will usually be published under a <a href="https://creativecommons.org/licenses/?lang=en" title="Page of Creative Commons">Creative-Commons-License</a>. This license allows others to distribute the work under the condition that the author of the work will be correctly cited and reference will be made to <b>CrossAsia-eBooks</b> eBooks as publisher.</p>
<p>Authors have the possibility to sign contracts with other publishers for a non-exclusive publication and distribution of a book already published on <b>CrossAsia-eBooks</b>.</p>
                {{pass}}


    </div>
</div>  
